body {
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

h1{
  font-family: 'Josefin Slab', serif;
  font-size: 5rem;
  padding: 2%;
  padding-bottom: 7%;
  margin-top: 100px;
}

h2 {
  font-family: 'Josefin Slab', serif;
  padding: 5% 5% 5% 0%;
  font-size: 2rem;
}

h4, h3{
  padding: 0% 15%;
  line-height: 200%;
  letter-spacing: 110%;
  font-size: 1.3rem;
}

a{
  color: black;
}

a:hover{
  color: black;
}

.sub-heading{
  font-size: 3.5rem;
}
/* Navbar */
.navbar {
  background-color: #ff5200;
  padding-right: 10%;
  font-size: 1.5rem;
}

.navbar-brand{
  font-size: 2.5rem;
  padding-left: 10%;
}

/* header */

.header{
  background-color: #ff5200;
  color: white;
}

/* Academics */
#academics{
  padding: 10% 3%;
}

.academic-icon{
  padding: 7%;
}
/* Hobbies */
#hobbies{
    padding: 10% 3%;
}

.course-btn{
  margin: 2%;
}
/* Future */
#future{
    padding: 10% 3%;
}

.spacer-text{
  margin-bottom: 3%;
}
/* Footer */
.footer{
  padding: 7% 3%;
}

.copytext{
  line-height: 200%;
  letter-spacing: 110%;
}

.ignore{
  padding: .5%;
}

.center{
  margin: 0;
}

.portfolio{
  margin: 2%
}
@media (max-width: 850px) {
  h1{
    font-size: 4rem;
  }

  h2{
    font-size: 2.5rem;
  }

  h3{
    font-size: 1.5rem;
  }
}
